:root {
    --letra: black;
    --fondo: white;
}
.formulario{
    width:50rem;
    padding:10px;
    flex-direction: column;
	align-items: center;
}
.input, .btn{
    background-color: #FFFFFF;
    padding: .5rem;
    margin: .5rem 0;
    border: none;
    border-bottom: solid #60EC00 .3rem;
    transition: all .5s;
}

.input:focus {
    border-bottom: solid #707070;
}

.btn {
    width: 40%;
    border-bottom: none;
    background-color:#151515;
    color: white;
}

.input.btn:hover {
    background-color: #60EC00;
}
body {
    font-size: 30px;
    background: url(imagenes/Fondo.jpg);
    background-size: 90rem;
	font-family: cursive;
}
table.tabla {
	font-family: cursive;
	background-color: var(--fondo);
	border: inset 5pt;
	border-color: gray;
	height:auto;
    margin: auto;
}
td.periodo{
	background-color: #ff455e;
	font-weight: bold;
}
td.grupo{
	background-color: #ff455e;
	font-weight: bold;
}
td.Nometal{
	background-color: #F9FF37;
}
.Nometal:hover{
 background-color: F1D625;	
}
td.gases{
	background-color: #37FF40;
}
.gases:hover{
 background-color:86DF8A;	
}
td.alcalinos{
	background-color: #C176DF;
}
.alcalinos:hover{
	background-color:#B884CC;
}
td.alcalinosterreos{
	background-color: #F0952E;
}
td.metales{
	background-color: #2F7AFD;
}
td.espacio{
	 border: inset 0pt;
}
header nav a:hover,
header nav a:hover {
    color:#60EC00;
}
header nav a{
    color: #000000;
    text-decoration: none;
    margin-right: 20px;
}
header.cont1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cont1 {
    width: auto;
    height:auto;
    margin: auto;
    padding-bottom: 0rem;
}

header{
	font-family: cursive;
    padding: 10px;
	font-weight: normal;
    color: var(--letra);
    font-size: 25px;
}
